<style>
.calculator-expressionInput {
    width: 500px;
}
.calculator-calculateButton {
    width: 100px;
}
.calculator-clearButton {
    width: 100px;
}
.calculator-resultTextArea {
    width: 500px;
    height: 250px;
}
</style>
<label>Expression: </label><br/>
<input type="text" class="calculator-expressionInput" value="2+3"/>
<input type="button" class="calculator-calculateButton" value="Calculate"/><br/>
<label>Result: </label><br/>
<textarea class="calculator-resultTextArea"></textarea>
<input type="button" class="calculator-clearButton" value="Clear"/><br/>
