<style>
.calculator-layout-table {
    padding: 2em;
    border: groove;
    font-family: monospace;
}
.calculator-layout-table td {
    width: 6em;
    height: 6em;
}
.calculator-layout-table td input {
    color: gray;
    font-size: 2em;
}
.calculator-display {
    width: 100%;
    height: 100%;
    text-align: right;
}
.calculator-button, .calculator-button-clear, .calculator-button-delete, .calculator-button-calculate {
    width: 100%;
    height: 100%;
}
</style>
<table class="calculator-layout-table">
    <tr>
        <td colspan="4">
            <input type="text" class="calculator-display" readOnly="true" value="2+3" />
        </td>
    <tr>
        <td>
            <input type="button" class="calculator-button-clear" value="clr"/>
        </td>
        <td>
            <input type="button" class="calculator-button-delete" value="del" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="*" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="/" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="calculator-button" value="7" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="8"/>
        </td>
        <td>
            <input type="button" class="calculator-button" value="9" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="+" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="calculator-button" value="4" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="5" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="6" />
        </td>
         <td>
            <input type="button" class="calculator-button" value="-" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="calculator-button" value="1" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="2" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="3" />
        </td>
        <td rowspan="2">
            <input type="button" class="calculator-button-calculate" value="=" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" class="calculator-button" value="0" />
        </td>
        <td>
            <input type="button" class="calculator-button" value="." />
        </td>
    </tr>
</table>
