.calculator-expressionInput {
    width: 500px;
}

.calculator-calculateButton {
    width: 100px;
}

.calculator-clearButton {
    width: 100px;
}

.calculator-resultTextArea {
    width: 500px;
    height: 250px;
}
